#createTask {
}

#createTask form {
  text-align: left;
  position: relative;
  top: 3vh;
}

#createTask label {
  color: #f5752d;
}

#createTask h2 {
  border-bottom: unset;
}

input,
select,
textarea {
  background-color: #e9eefa;
  border-radius: 5px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f5752d !important;
  border: 0;
}
