body {
  background-color: #2e384d;
  color: white;
}

#tasks {
  position: relative;
  float: left;
  top: 0;
}
#taskSearch {
  position: relative;
  float: left;
  height: 70vh;
  top: 0;
  word-wrap: break-word;
}

h2#taskSearchHeader {
  position: relative;
  float: left;
  top: 1vh;
}

iframe#taskInfoField {
  position: relative;
  top: 2vh;
  left: 10%;
  width: 80%;
  height: 100%;
  overflow-x: hidden;
  background-color: #e9eefa;
}

iframe#taskInfoField html {
  word-wrap: break-word;
}

input#taskId {
  position: relative;
  float: left;
  top: 1.6vh;
  left: 10%;
}

ul#taskList {
  position: relative;
  list-style-type: none;
  left: 10%;
  padding: 0;
  margin: 0;
  top: 3vh;
  border: 1px solid #cad4f0;
  width: 80%;
  height: auto;
  margin-bottom: 1vh;
  background-color: #e9eefa;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul#taskList li {
  padding: 8px 16px;
  color: black;
  border-bottom: 1px solid #cad4f0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul#taskList li:hover {
  background-color: #f5752d;
  cursor: pointer;
}

div h2 {
  position: relative;
  top: 2vh;
  left: 10%;
  width: 80%;
  margin-bottom: 0px;
  color: #f5752d;
  border-bottom: 2px solid #cad4f0;
}

.clickText {
  color: #233180;
}

/* button {
  width: 176px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #f5752d;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #f5752d, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #f5752d;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f5752d;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
} */

body::-webkit-scrollbar {
  width: 1em;
  opacity: 50%;
}
